.navbar-lewagon {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #8CBA4A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
