<div class="modalNewProduct">
  <%= simple_form_for [@product], method: :post do |f| %>
    <%= f.input :name %>
    <%= f.association :category %>
    <%= f.submit "Enr", class: "btn btn-success" %>
  <% end %>
</div>
