<div class="card-product">
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p class="card-title"><%= @product.name %></p>
    <p class="card-text"><%= @product.category.name %></p>
    <%= link_to "", products_path, class:"far fa-hand-point-left" %>
  </div>
</div>

